<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980299816049-fvh5jmfk15rgq4j25c3tkdqjbv1h7lnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980299816049-fvh5jmfk15rgq4j25c3tkdqjbv1h7lnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBkvAAMurG_tSzFsT8luBxSh6O1rQS74Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>980299816049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.indasyemek</string>
	<key>PROJECT_ID</key>
	<string>indasyemek-4a80c</string>
	<key>STORAGE_BUCKET</key>
	<string>indasyemek-4a80c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980299816049:ios:7386c797abc386da340fd0</string>
</dict>
</plist>